header {
  font: 24px/24px "Times Regular", serif;
  margin: 10px;
}
.menu {
  background-color: pink;
  width: 100%;
  padding-top: 2%;
  font: bold 36px/48px "Savoye LET", serif;
  text-align: center;
}
.menu a:visited, a:focus, a:active {
  color: white;
}
.menu a:hover {
  color: purple;
}
.menu a#home {
  float: left;
  width: 25%;
}
.menu a#about {
  float: left;
  width: 25%;
}
.menu a#fullmenu {
  float: left;
  width: 25%;
}
h1 {
  font: bold 120px "Savoye LET", serif;
  text-align: center;
  padding-top: 5%;
  color: white;
  background-color: pink;
}
.main p.title {
  font: bold 56px "Savoye LET", serif;
  text-align: center;
  width: 100%;
  color: rgb(50, 50, 50);
  margin-bottom: 5px;
  padding-top: 20px;
  border-top: 5px dashed pink;
}
.main p.content {
  font: bold 36px "Savoye LET", serif;
  text-align: center;
  width: 100%;
  color: rgb(50, 50, 50);
  margin-bottom: 25px;
}
.main a.link {
  font: bold 36px "Savoye LET", serif;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  color: rgb(148, 17, 0);
}
.main a:visited, a:focus, a:active{
  color: rgb(148, 17, 0);
}
.main a:hover {
  color: rgb(50, 17, 0);
}
footer {
  border-top: 5px solid gray;
  padding-top: 5px;
  font: 16px/32px Helvetica, san-serif;
}
