header {
  font: 24px/24px "Times Regular", serif;
  margin: 10px;
}
.menu {
  background-color: pink;
  width: 100%;
  padding-top: 2%;
  font: bold 36px/48px "Savoye LET", serif;
  text-align: center;
}
.menu a:visited, a:focus, a:active {
  color: white;
}
.menu a:hover {
  color: purple;
}
.menu a#home {
  float: left;
  width: 25%;
}
.menu a#about {
  float: left;
  width: 25%;
}
.menu a#fullmenu {
  float: left;
  width: 25%;
}
h1 {
  font: bold 120px "Savoye LET", serif;
  text-align: center;
  padding-top: 5%;
  color: white;
  background-color: pink;
}
.massage {
  font: 36px "Savoye LET", serif;
  text-align: center;
  color: rgb(50, 50, 50);
  display: block;
  float: left;
  width: 50%;
  border-top: 5px dashed pink;
}
.nails {
  font: 36px "Savoye LET", serif;
  text-align: center;
  color: rgb(50, 50, 50);
  display: block;
  float: right;
  width: 50%;
  border-top: 5px dashed pink;
}
.waxing {
  font: 36px "Savoye LET", serif;
  text-align: center;
  color: rgb(50, 50, 50);
  display: block;
  float: left;
  width: 45%;
  border-top: 5px dashed pink;
}
.facial {
  font: 36px "Savoye LET", serif;
  text-align: center;
  color: rgb(50, 50, 50);
  display: block;
  float: right;
  width: 45%;
  border-top: 5px dashed pink;
}
.bigtitle {
  font: bold 64px/42px "Savoye LET", serif;
  color: purple;
}
.title {
  font: bold 42px/42px "Savoye LET", serif;
}
.content {
  font: bold 36px/42px "Savoye LET", serif;
}
footer {
  margin-top: 4000px;
  border-top: 5px solid gray;
  padding-top: 5px;
  font: 16px/32px Helvetica, san-serif;
}
